<body>
  


  <div class="container" style="text-align:center">
  <h1>
    <br>CALCULATOR
  </h1>
    <input style="height: 30px; text-align: center;"type="number" name="value1" [(ngModel)]="value1">
    <br><br>
    <input style="height: 30px; text-align: center;"type="number" name="value2" [(ngModel)]="value2">
    <br>
    <h3 style="border: solid 1px; width: 300px; margin-left: 100px; text-align: left; background-color: white; margin-top: 7px;">ANSWER : {{value3}}</h3>
    <button style="height: 50px; width: 80px; font-size: 30px;"  (click)="add()">+</button>
    <button style="height: 50px; width: 80px; font-size: 30px;" (click)="sub()">-</button>
    <button style="height: 50px; width: 80px; font-size: 30px;" (click)="multiply()">*</button>
    <button style="height: 50px; width: 80px; font-size: 30px;" (click)="divide()">/</button>
    <br>
    
  
  </div>
  </body>